<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoBase.Properties.Settings.ConnectionString111"
            connectionString="Dsn=MiODBC;uid=root" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>